.env  
.vscode/          
__pycache__/    
*.pyc           
*.db            
airflow_home/logs/           
# Ignore Airflow database files
airflow_home/airflow.db
airflow_home/logs/
airflow_home/airflow.cfg
# Ignore system files
.DS_Store
# Ignore sensitive environment variables
.env
# Ignore Docker-related files
docker-compose.yml
Dockerfile
check_schema.py
development/
.vscodeairflow_home/airflow.cfg
# my development notes for the project
notes.txt
